.container {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  background-color: #fff8ea;
  padding: 5px 10px 5px 10px;
}
.item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}
.item:hover {
  transition: all 0.5s;
  font-weight: 800;
  transform: scale(1.1);
  cursor: pointer;
}
.item:nth-child(1),
.item:nth-child(2) {
  grid-column: 1/5;
  padding: 20px;
}
.item:nth-child(1):hover,
.item:nth-child(2):hover {
  transition: none;
  transform: none;
}
